<%= render "tweet" %>
<h4>Comments</h4>
<ul>
  <div id='comments_panel'>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>
</ul>
<%= render partial: 'comments/new' %>
